<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Sentient Analyzer</title>
  </head>

  <body>
    <header>
      <div class="logo">Sentient Analyzer</div>
      <div class="nav-toggler">
        <hr />
        <hr />
        <hr />
      </div>
    </header>

    <main>
      <h1>Analyze text using Natural Language Processing</h1>

      <section>
        <form id="form">
          <div class="field url" data-error="You must provide a valid URL.">
            <input
              id="article-url"
              type="url"
              name="article-url"
              placeholder="URL of text to analyze"
              required
            />
            <label for="article-url">URL</label>
          </div>

          <div class="field">
            <label for="lang">Language</label>
            <select name="lang" id="lang">
              <option value="auto" selected disabled>
                Select a Language (Optional)
              </option>
              <option value="en">English</option>
              <option value="es">Español</option>
              <option value="fr">Français</option>
              <option value="it">Italiano</option>
              <option value="pt">Português</option>
              <option value="ca">Català</option>
            </select>
          </div>

          <button disabled type="submit">Analyze</button>
        </form>
      </section>

      <section class="results">
        <strong>Analysis results</strong>
        <div id="results"></div>
      </section>
    </main>

    <footer>
      <p class="copyrights">© 2021 | All Rights Reserved</p>
      <p class="copyrights">
        Created by
        <a href="https://github.com/ahmedbaligh/" target="_blank">
          Ahmed Baligh
        </a>
      </p>
    </footer>

    <script>
      // Check that service workers are supported
      if ('serviceWorker' in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener('load', () => {
          navigator.serviceWorker.register('/service-worker.js');
        });
      }
    </script>
  </body>
</html>
