<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Sentient Analyzer</title>
  </head>

  <body>
    <header>
      <div class="">Logo</div>
      <div class="">navigation</div>
    </header>

    <main>
      <section>
        <form id="form">
          <div class="field">
            <label for="article-url">URL</label>
            <input
              id="article-url"
              type="url"
              name="article-url"
              placeholder="URL of your article"
              required
            />
          </div>

          <div class="field">
            <label for="lang">Language</label>
            <select name="lang" id="lang">
              <option value="" selected disabled>
                Select a Language (Optional)
              </option>
              <option value="en">English</option>
              <option value="es">Español</option>
              <option value="fr">Français</option>
              <option value="it">Italiano</option>
              <option value="pt">Português</option>
              <option value="ca">Català</option>
            </select>
          </div>

          <button disabled type="submit">Analyze</button>
        </form>
      </section>

      <section>
        <strong>Form Results:</strong>
        <div id="results"></div>
      </section>
    </main>

    <footer>
      <p>This is a footer</p>
    </footer>
  </body>
</html>
